*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
example_project/deleted
# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage_report
#Translations
*.mo