Django==1.4.1
PIL==1.1.7
South==0.7.4
coverage==3.5.1
django-autoslug==1.5.0
django-coverage==1.2.2
-e git://github.com/subsume/django-filter-actually-maintained.git@2cf55f2dfa3dc62eb10d8d755554090b5b14ffe5#egg=django_filter-dev
django-floppyforms==0.4.7
-e git://github.com/JordanReiter/django-jsonfield.git@38e517cf09765d48b5ca2928ada468c70f6cf46e#egg=django_jsonfield-dev
psycopg2==2.4
pygeocoder==1.1.4
wsgiref==0.1.2
factory_boy  # used for test purpose only